```
# Build artifacts
*.obj
*.exe
*.dll
*.pdb
*.userprefs
*.cache
*.tmp

# Dependencies
packages/
node_modules/
lib/

# Logs
*.log

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Environment specific settings files
.vs/
.vshost.exe
.vbproj.user
.csproj.user
```